// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018-2022 Intel Corporation
 */

#include "socfpga_stratix10.dtsi"

/ {
	model = "SoCFPGA Stratix 10 SoCDK";

	aliases {
		ethernet1 = &gmac1;
		serial1 = &uart1;
	};

	memory {
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "memory";
		/* 2GB */
		reg = <0 0x00000000 0 0x80000000>;
		bootph-all;
	};
};

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy1>;

	max-frame-size = <3800>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		// SOCFPGA_STRATIX10 # mii info 0x5
		//      PHY 0x05: OUI = 0x0885, Model = 0x22, Rev = 0x02, 1000baseT, FDX
		phy1: ethernet-phy@5 {
			max-speed = <100>;
			reg = <5>;
			rxd0-skew-ps = <480>;
			rxd1-skew-ps = <480>;
			rxd2-skew-ps = <480>;
			rxd3-skew-ps = <480>;
			rxdv-skew-ps = <480>;
			txd0-skew-ps = <360>;
			txd1-skew-ps = <360>;
			txd2-skew-ps = <360>;
			txd3-skew-ps = <360>;
			txen-skew-ps = <360>;
			rxc-skew-ps = <1680>;
			txc-skew-ps = <1800>;
		};
	};
};

&qspi {
	flash0: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "n25q00a";
		reg = <0>;
		spi-max-frequency = <50000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			qspi_boot: partition@0 {
				// this must match CONFIG_ENV_UBI_PART
				label = "u-boot";
				reg = <0x0 0x04200000>;
			};
		};
	};
};

&uart1 {
	status = "okay";
	bootph-all;
	clock-frequency = <100000000>;
};

&watchdog0 {
	status = "okay";
};
